<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	Get help on the Bootstrap at the
	<a href="http://getbootstrap.com/css/">Bootstrap CSS page</a> and
	<a href="http://getbootstrap.com/components/">Bootstrap Components page</a>.
	To get help on this app, see 
	<a href="http://wudixiaotie.iteye.com/">My blog</a>.
</p>