<div class="jumbotron">
	<h1>Welcome to the mE2</h1>
	<p>
		This is the home page for this application.
	</p>
	<p>
		Its a simple Microbolg.
	</p>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg" %>
</div>