@import 'bootstrap';

/* Common */

h1, h2, h3 {
  font-weight: bold;
}


/* universal */

body {
  padding-top: 70px;
}

textarea {
  resize: none;
}

/* header */

#logo {
  font-size: 1.7em;
  color: #fff;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.header-avatar {
  @extend .img-circle;
  border: 2px solid #fff;
  margin-left: -15px;
  margin-top: -5px;
  width: 30px;
}

/* footer */

footer {
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  ul {
    float: right;
    list-style: none;
  }
}

/* forms */

.field_with_errors {
  @extend .has-error;
}

#error_explanation {
  color: #f00;
  ol {
    margin: 0 0 18px 0;
  }
}

/* microposts */

.content {
  display: block;
}

.timestamp {
  color: $gray-light;
}

.hover-visiable {
  display: none;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $gray-lighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: $gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
  strong {
    display: block;
  }
}

.user-avatars {
  overflow: auto;
  margin-top: 10px;
  .mini-avatar {
    margin: 1px 1px;
  }
}