@import 'bootstrap';

/* mixins, variables, etc. */


/* universal */

body {
  padding-top: 60px;
}

/* typography */

/* header */

#logo {
	font-size: 1.7em;
	color: #fff;
	font-weight: bold;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

/* footer */

footer {
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  ul {
    float: right;
    list-style: none;
  }
}

/* forms */

.field_with_errors {
  @extend .has-error;
}